<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>织命</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<!-- 用户可能配置 http:// 的本地代理/中转提供商 -->
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
